@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Arial', sans-serif;
    background-color: #242424;
    color: #EAEAEA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: #333;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #FF8C00;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}
main {
    width: 80%;
    max-width: 900px;
    margin: 20px 0;
}
.sobre, .projetos {
    background: #3A3A3A;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.sobre-paragrafo {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.sobre-titulo {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.botoes-atividades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.repositorio, .atividades {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.botao {
    background: #FF8C00;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.botao:hover {
    background: #e67e00;
}
.github {
    background: #24292e;
}
.github:hover {
    background: #1b1f23;
}
footer {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
.destaque-texto {
    color: #e67e00;
}
.destaque-texto-2 {
    color: aliceblue;
}
.botao-3 {
    background: #00ff15;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;    
}
